* {
    font-family: "Comics Sans", "Times New Roman", sans-serif;
}

h1 {
    text-align: center;
}


img {
    display: block;
    height: 310px;
    width: 310px;
    margin: 0px auto 24px auto;
    border: 1px solid black;
}

h2 {
    color: darkcyan;
    margin: -8px 0px;
}

.description,
.ingredients,
.instructions {
    font-size: 20px;
    background-color: blanchedalmond;
}

.description {
    text-align: justify;
    padding: 8px;

}

.ingredients,
.instructions {
    padding-top: 8px;
    padding-bottom: 8px;
}

#ten {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}