* {
    font-family: "Comic Sans", "Times New Roman", sans-serif;
}


h1 {
    background-color: red;
    color: black;
    text-align: center;
    padding: 8px;
    border: 4px dashed cyan;
    margin: 8px 25%;
}

.recipe {
    font-size: 22px;
    color: blue;
    font-weight: bold;
    padding: 4px;
    display: inline-block;
    margin: 4px;
}

.dinner {
    background-color: lightblue;
}

.dessert {
    background-color: lavender;
}